/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors */
$white: #fff;
$light-grey: #FBFBFC;
$grey: #F3F3F5;
$dark-grey: #869099;
$asphalt: #2B2A36;
$dark-blue: #06102F;

/* Global */


/* Tabs */
.tabs {
  .tabs-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
  }

  .tabs-buttons {
    font-size: 0;
    li {
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      background-color: $white;
    }
  }

  .tabs-content {
    display: none;
    height: 860px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 52%;
    &.active{
      display: block;
    }
  }
}

.tabs-element {
  display: none;
}

#elegance:checked ~ .tabs-element--elegance {
  display: block;
}

#creation:checked ~ .tabs-element--creation {
  display: block;
}

#family-office:checked ~ .tabs-element--family-office {
  display: block;
}

#experience:checked ~ .tabs-element--experience {
  display: block;
}

/* Slider */

